body {
    background: url(../images/pattern.jpg);
}

.row {
    margin-bottom: 10px;
}

#instructions {
    margin-bottom: 10px;
}

.jumbotron {
    background: rgb(100, 41, 100);
    color: beige;
}

.card-header {
    background: teal;
    color: beige;
}